<form autocomplete="off">
  <input id="input-name" type="text" placeholder="John Doe" name="name" [(ngModel)]="name" (keypress)="handleKeypress($event)" required autofocus />
  <label for="input-name">
    <span class="label-text">Full Name</span>
  </label>
</form>
