
.well {
    background-color: #fff;
}

#chirp-frm {
    width: 100%;
}

#message {
    width: 100%;
}

.round {
    border-radius: 50%;
}

h4 {
    color: #444;
}

.blackimage {
    background: #333
}
.timestamp {
    font-size: .9em;
    color: #777;
}
.message-text {
    font-size: 2em;
    word-wrap: break-word;
    padding-bottom: 6px;
}
.message-image {
    margin-top: 10px;
}
h3.less-margin {
    margin-top: 6px;
}