#qr-image {
    clip-path: circle(65px at center);
    -webkit-clip-path: circle(65px at center);
    transition: 1s;
}

#qr-image:hover {
    clip-path: circle(150px at center);
    -webkit-clip-path: circle(150px at center);
}